@{
    ViewData["Title"] = "Home Page";
}
@model JogoPokerMVC.Models.ResultadoFront;
   
@{int cont = 0;
    foreach (var item in Model.Cartas)
    {


        <img class="cartas" style="margin:30px" src="~/imgs/@(item).png" />
        cont++;
            if (cont == 5) { 
                <br/>
        }
    }

  <h1>@Model.ResultadoString</h1>
}